{% extends "Main/base.html" %}
{% load static %}

{% block content %}
<div class="create-school_container">
    <form method="post" enctype="multipart/form-data" class="create-school_form">
        {% csrf_token %}
        <div class="create-school_section">
            <h2 class="create-school_title">School Details</h2>
            {{ form.as_p }}
        </div>

        <div class="create-school_section">
            <h2 class="create-school_title">Historical Images</h2>
            {{ historical_formset.management_form }}
            {% for hform in historical_formset %}
                <div class="create-school_inlineform">
                    {{ hform.as_p }}
                </div>
            {% endfor %}
        </div>

        <div class="create-school_section">
            <h2 class="create-school_title">Alumni Highlights</h2>
            {{ alumni_formset.management_form }}
            {% for aform in alumni_formset %}
                <div class="create-school_inlineform">
                    {{ aform.as_p }}
                </div>
            {% endfor %}
        </div>

        <button type="submit" class="create-school_ctabutton">Create School</button>
    </form>
</div>
{% endblock %}
