<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <h3>Historical Images</h3>
    {{ historical_formset.management_form }}
    {% for form in historical_formset %}
        <div class="historical-image-form">
            {{ form.as_p }}
            {% if form.instance.pk %}
                <img src="{{ form.instance.image.url }}" height="100">
            {% endif %}
        </div>
    {% endfor %}

    <h3>Alumni Highlights</h3>
    {{ alumni_formset.management_form }}
    {% for form in alumni_formset %}
        <div class="alumni-form">
            {{ form.as_p }}
            {% if form.instance.pk %}
                <img src="{{ form.instance.photo.url }}" height="100">
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit">Save Changes</button>
</form>
