{% extends "Main/base.html" %}
{% load static %}
{% block content %}
<h2 class="directory-title">Alumni Directory - {{ user.school }}</h2>

<form method="get" class="directory-search">
    <input type="text" name="q" placeholder="Search by name or occupation" value="{{ request.GET.q }}">
    <input type="number" name="year" placeholder="Graduation Year" value="{{ request.GET.year }}">
    <button type="submit">Search</button>
</form>

<div class="directory-cards">
{% for alumni in alumni_list %}
<a class="directory-card-link" href="{% url 'Accounts:public_profile' alumni.username %}">
    <div class="directory-card">
        <div class="directory-card-left">
            {% if alumni.profile_picture %}
                <img src="{{ alumni.profile_picture.url }}" alt="{{ alumni.username }}" class="directory-img">
            {% else %}
                <div class="directory-no-img">No Photo</div>
            {% endif %}

        </div>
        <div class="directory-card-right">
            <p><strong>{{ alumni.username }}</strong></p>
            {% if alumni.graduation_year %}
            <p>Class of {{ alumni.graduation_year }}</p>
            {% endif %}
            {% if alumni.occupation %}
            <p>{{ alumni.occupation }}</p>
            {% endif %}
        </div>
    </div>
    </a>    
{% empty %}
    <p>No alumni found.</p>
{% endfor %}
</div>
{% endblock %}
