{% extends "Main/base.html" %}
{% block content %}
<div class="photo_upload_page">
  <h2 class="photo_upload_title">Upload Your Photo</h2>

  <div class="photo_upload_card">
    <form method="post" enctype="multipart/form-data" class="photo_upload_form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-primary">Upload</button>
    </form>
  </div>

  <div class="photo_upload_back">
      <a href="{% url 'community:gallery' %}" class="story_back_link">← Back to Gallery</a>
  </div>
</div>
{% endblock %}
