{% extends "Main/base.html" %}
{% load static %}

{% block content %}
<div class="edit-school-container">
    <h2 class="edit-school_title">Edit School</h2>

    <form method="post" enctype="multipart/form-data" class="edit-school_form">
        {% csrf_token %}
        <div class="edit-school_mainform">
            {{ form.as_p }}
        </div>

        <h3 class="edit-school_section-title">Historical Images</h3>
        <div class="edit-school_section">
            {{ historical_formset.management_form }}
            {% for form in historical_formset %}
                <div class="edit-school_formset-item">
                    {{ form.as_p }}
                    {% if form.instance.pk %}
                        <img src="{{ form.instance.image.url }}" class="edit-school_image-preview">
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <h3 class="edit-school_section-title">Alumni Highlights</h3>
        <div class="edit-school_section">
            {{ alumni_formset.management_form }}
            {% for form in alumni_formset %}
                <div class="edit-school_formset-item">
                    {{ form.as_p }}
                    {% if form.instance.pk %}
                        <img src="{{ form.instance.photo.url }}" class="edit-school_image-preview">
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="edit-school_submit">
            <button type="submit" class="edit-school_button">Save Changes</button>
        </div>
    </form>
</div>
{% endblock %}
